<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>すてきなモノと出会う場所</h1>
        <% unless logged_in? %>
          <%= link_to "モノリストを始める", signup_path, class:"btn btn-success btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<div id="guest_user">
  <h4>
    アプリの機能を確認したい方は、ゲストアカウントを用意しています。以下を使ってログインしてください。
  </h4>
  <p>
    email: <b>user1@ruby.ruby</b><br>
    password: <b>1231</b>
  </p>
</div>

<%= render "items/items", items: @items %>